<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>

    <body style="text-align: center;">
        
        <form action="{% url 'resultado' %}" method="post">
            {% csrf_token %}
            <label for="input-usuario">Usuário</label>
            <input type="text" name="usuario">
            <label for="input-senha">Senha</label>
            <input type="password" name="senha">
            <button>Entrar</button>
        </form>
    </body>

</html>